Repository boostcampwm2023/web03-LockFestival, pull requests merged in 2023-11, with the labels that each got.

#4 Config/BE/#3: 백엔드 초기 세팅
  .gitignore
  backend/.env
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/webpack-hmr.config.js
  backend/yarn.lock
  package.json
  yarn.lock
Labels: 🔧Config📦, 🌐Backend🌐

#5 Config/FE/#2: 프론트엔드 초기세팅
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/README.md
  frontend/index.html
  frontend/jest.config.ts
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/setupTest.ts
  frontend/src/App.tsx
  frontend/src/__mocks__/browser.ts
  frontend/src/__mocks__/index.ts
  frontend/src/__mocks__/server.ts
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: 🔧Config📦, 🖥️Frontend🖥️

#7 Config/WE/#6: husky, lint-staged 설정
  .husky/pre-commit
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
  package.json
Labels: 🔧Config📦, 🖥️Frontend🖥️, 🌐Backend🌐

#9 Config/FE/#8: build 버그 수정
  frontend/vite.config.ts
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#11 Config/WE/#10: CI Scripts 작성
  .github/workflows/CI-All.yml
  .github/workflows/CI-Back.yml
  .github/workflows/CI-Front.yml
Labels: 🔧Config📦, 🖥️Frontend🖥️, 🌐Backend🌐

#13 Fix/FE/#12: msw 빌드 에러 해결 및 jsdom 사용
  frontend/.eslintrc.cjs
  frontend/jest.config.ts
  frontend/jest.polyfills.js
  frontend/jest.setup.ts
  frontend/package.json
  frontend/setupTest.ts
  frontend/src/__mocks__/index.ts
  frontend/src/__mocks__/server.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: 🐛Fix🐛, 🔧Config📦, 🖥️Frontend🖥️

#19 Feature/FE/#18 : reset css 작성
  frontend/src/GlobalStyles.tsx
  frontend/src/main.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#21 Fix/BE/#16 : 백엔드 eslint 미적용 오류 해결
  backend/package.json
Labels: 🐛Fix🐛, 🌐Backend🌐

#23 Fix/BE/#22 : `.env` 파일 삭제 및 `.gitingore` 추가
  backend/.env
  backend/.gitignore
Labels: 🐛Fix🐛, 🌐Backend🌐

#24 Feature/FE/#20: 디자인 시스템 구축
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/@types/twin.d.ts
  frontend/src/main.tsx
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: ✨Feature✨, 🔧Config📦, 🖥️Frontend🖥️

#27 Fix/FE/#25: twin.macro 도입하면서 생긴 eslint 에러 수정
  frontend/package.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#44 Config/FE/#36: react-query 및 react-router-dom 설치
  frontend/package.json
  frontend/src/main.tsx
  frontend/yarn.lock
Labels: 🔧Config📦, 🖥️Frontend🖥️

#46 Config/BE/#37: DB 사용을 위한 MySQL 및 typeorm 추가
  backend/package.json
  backend/src/app.module.ts
  backend/src/typeorm.config.ts
  backend/yarn.lock
Labels: 🔧Config📦, 🌐Backend🌐

#48 Feature/BE/#47: ERD에 설계된 entity를 typeorm에 적용
  backend/src/entity/baseTime.entity.ts
  backend/src/entity/branch.entity.ts
  backend/src/entity/brand.entity.ts
  backend/src/entity/diary.entity.ts
  backend/src/entity/diaryComment.entity.ts
  backend/src/entity/genre.entity.ts
  backend/src/entity/group.entity.ts
  backend/src/entity/theme.entity.ts
  backend/src/entity/user.entity.ts
  backend/src/entity/userGroup.entity.ts
  backend/src/enum/gender.ts
Labels: ✨Feature✨, 🌐Backend🌐

#50 Fix/FE/#49: jest, twin.macro 버그 수정
  frontend/jest.config.ts
  frontend/package.json
  frontend/yarn.lock
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#54 Config/BE/#51: 파일 구조 변경
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/diaryModules/comment/comment.module.ts
  backend/src/modules/diaryModules/comment/entities/comment.entity.ts
  backend/src/modules/diaryModules/diary/diary.module.ts
  backend/src/modules/diaryModules/diary/entities/diary.entity.ts
  backend/src/modules/themeModules/branch/branch.module.ts
  backend/src/modules/themeModules/branch/entities/branch.entity.ts
  backend/src/modules/themeModules/brand/brand.module.ts
  backend/src/modules/themeModules/brand/entities/brand.entity.ts
  backend/src/modules/themeModules/theme/entities/genre.entity.ts
  backend/src/modules/themeModules/theme/entities/theme.entity.ts
  backend/src/modules/themeModules/theme/theme.module.ts
  backend/src/modules/userModules/chat/chat.module.ts
  backend/src/modules/userModules/group/entities/group.entity.ts
  backend/src/modules/userModules/group/group.module.ts
  backend/src/modules/userModules/user/entities/user.entity.ts
  backend/src/modules/userModules/user/entities/userGroup.entity.ts
  backend/src/modules/userModules/user/user.module.ts
  backend/src/typeorm.config.ts
  backend/test/app.e2e-spec.ts
  backend/tsconfig.json
Labels: 🔧Config📦, 🌐Backend🌐

#53 Feature/FE/#38 모달 컴포넌트 생성
  frontend/src/__tests__/Modal/Modal.test.tsx
  frontend/src/components/Modal/Modal.tsx
  frontend/src/types/modal.ts
  frontend/src/types/twin.d.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Labels: ✨Feature✨, 🖥️Frontend🖥️

#58 Config/FE/#57: react-icons 설치
  frontend/package.json
  frontend/yarn.lock
Labels: 🔧Config📦, 🖥️Frontend🖥️

#55 Feature/FE/#52: useModal 커스텀 훅 생성 및 사용
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/Modals/Modals.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/main.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#60 Feature/BE/#34: 랜덤 장르의 테마 반환 API 개발
  backend/src/app.module.ts
  backend/src/modules/themeModules/branch/entities/branch.entity.ts
  backend/src/modules/themeModules/theme/dtos/genre.dto.ts
  backend/src/modules/themeModules/theme/dtos/genre.themes.response.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.response.dto.ts
  backend/src/modules/themeModules/theme/entities/theme.entity.ts
  backend/src/modules/themeModules/theme/genre.repository.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.module.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#56 Feature/FE/#42: 버튼 컴포넌트 개발
  frontend/.eslintrc.cjs
  frontend/src/__tests__/Button/Button.test.tsx
  frontend/src/components/Button/Button.tsx
  frontend/src/constants/ButtonsStyleMap.ts
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/types/button.ts
  frontend/tailwind.config.ts
Labels: ✨Feature✨, ✅Test✅, 🖥️Frontend🖥️

#62 Config/BE/#61: input 데이터의 유효성 검증을 위한 패키지 설치 및 설정
  backend/package.json
  backend/src/main.ts
  backend/yarn.lock
Labels: 🔧Config📦, 🌐Backend🌐

#64 Feature/BE/#26: 위치 기반 매장 테마 반환 API 개발
  backend/src/modules/themeModules/theme/dtos/theme.location.dto.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
  backend/src/typeorm.config.ts
Labels: ✨Feature✨, 🌐Backend🌐

#66 Feature/FE/#40: SimpleThemeCard 컴포넌트
  frontend/src/__tests__/Card/SimpleThemeCard/SimpleThemeCard.test.tsx
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/types/theme.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#68 Refactor/BE/#63: 랜덤 카테고리 테마 반환 API 개선
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: 🐛Fix🐛, ♻️Refactor♻️, 🌐Backend🌐

#69 Feature/BE/#35: 특정 장르의 테마 반환하는 API 개발
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#67 Feature/FE/#43: 라벨 컴포넌트 개발
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Label/Label.tsx
  frontend/src/constants/ButtonsStyleMap.ts
  frontend/src/constants/StyleMap/ButtonsStyleMap.ts
  frontend/src/constants/StyleMap/CommonStyleMap.ts
  frontend/src/constants/StyleMap/LabelStyleMap.ts
  frontend/src/types/label.ts
  frontend/src/utils/TypeValidation.ts
  frontend/tailwind.config.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#70 Feature/FE/#41: SimpleThemeCardList 컴포넌트 생성
  frontend/jest.config.ts
  frontend/src/__mocks__/SimpleThemeCardList/simpleThemeCardListMock.ts
  frontend/src/__tests__/List/SimpleThemeCardList/SimpleThemeCardList.test.tsx
  frontend/src/components/List/SimpleThemeCardList/SimpleThemeCardList.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#71 Feature/BE/#65: 토큰 발급과 검사
  backend/package.json
  backend/src/app.module.ts
  backend/src/modules/authModules/auth/auth.controller.ts
  backend/src/modules/authModules/auth/auth.guard.ts
  backend/src/modules/authModules/auth/auth.module.ts
  backend/src/modules/authModules/auth/auth.service.ts
  backend/src/modules/authModules/auth/dtos/payload.dto.ts
  backend/src/modules/authModules/auth/jwt.strategy.ts
  backend/yarn.lock
Labels: ✨Feature✨, 🔧Config📦, 🌐Backend🌐

#73 Feature/BE/#28: 테마 상세정보를 반환하는 API 개발
  backend/src/modules/themeModules/theme/dtos/theme.detail.response.dto.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#74 Feature/FE/#72: 헤더 컴포넌트-2
  frontend/.env
  frontend/package.json
  frontend/src/__mocks__/browser.ts
  frontend/src/__mocks__/handlers/profileHandlers.ts
  frontend/src/__mocks__/server.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/config/server.ts
  frontend/src/hooks/useInput.tsx
  frontend/src/hooks/useProfileQuery.tsx
  frontend/src/types/profile.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: ✨Feature✨, ♻️Refactor♻️, 🖥️Frontend🖥️

#77 Feature/BE/#31: 특정 지점의 테마들을 반환하는 API 개발
  backend/src/modules/themeModules/branch/branch.controller.ts
  backend/src/modules/themeModules/branch/branch.module.ts
  backend/src/modules/themeModules/branch/branch.repository.ts
  backend/src/modules/themeModules/branch/branch.service.ts
  backend/src/modules/themeModules/branch/entities/branch.entity.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
Labels: ✨Feature✨, 🌐Backend🌐

#82 Feature/BE/#78: 전체 장르 리스트를 반환하는 API
  backend/src/modules/themeModules/theme/genre.repository.ts
  backend/src/modules/themeModules/theme/genre.service.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.module.ts
Labels: ✨Feature✨, 🌐Backend🌐

#80 Chore/FE/#79: 폰트 변경 및 헤더 스타일 수정
  frontend/src/__tests__/Button/Button.test.tsx
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/components/Modal/Modal.tsx
  frontend/src/constants/StyleMap/CommonStyleMap.ts
  frontend/src/constants/StyleMap/LabelStyleMap.ts
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/types/button.ts
  frontend/src/types/label.ts
  frontend/tailwind.config.ts
Labels: 🚚Chore✏️, 🔧Config📦, 🖥️Frontend🖥️

#84 Feature/BE/#17: 네이버 소셜 로그인
  backend/package.json
  backend/src/app.module.ts
  backend/src/modules/authModules/auth/auth.controller.ts
  backend/src/modules/authModules/auth/auth.module.ts
  backend/src/modules/authModules/auth/auth.service.ts
  backend/src/modules/userModules/user/dtos/user.naver.dto.ts
  backend/src/modules/userModules/user/user.controller.ts
  backend/src/modules/userModules/user/user.module.ts
  backend/src/modules/userModules/user/user.repository.ts
  backend/src/modules/userModules/user/user.service.ts
  backend/yarn.lock
Labels: ❤️Review❤️, ✨Feature✨, 🌐Backend🌐

#83 Fix/BE/#81: 백엔드 CORS 설정
  backend/package.json
  backend/src/enum/http.method.ts
  backend/src/main.ts
Labels: 🐛Fix🐛, 🔧Config📦, 🌐Backend🌐

#85 Feature/BE/#29: 닉네임 중복 확인 API
  backend/src/main.ts
  backend/src/modules/userModules/user/dtos/nickname.request.dto.ts
  backend/src/modules/userModules/user/entities/user.entity.ts
  backend/src/modules/userModules/user/user.controller.ts
  backend/src/modules/userModules/user/user.repository.ts
  backend/src/modules/userModules/user/user.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#86 Feature/BE/#30: 회원 프로필 조회 API
  backend/src/modules/userModules/user/dtos/user.profile.dto.ts
  backend/src/modules/userModules/user/user.controller.ts
  backend/src/modules/userModules/user/user.repository.ts
  backend/src/modules/userModules/user/user.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#94 Feature/FE/#75 랜덤으로 3개의 장르에 해당하는 테마를 불러오는 API 작성
  frontend/src/App.tsx
  frontend/src/__mocks__/browser.ts
  frontend/src/__mocks__/genresTheme/themesByGenre.ts
  frontend/src/__mocks__/handlers/themesByRandomHandler.ts
  frontend/src/__mocks__/server.ts
  frontend/src/apis/fetchThemesByRandomGenres.ts
  frontend/src/constants/queryManagement.ts
  frontend/src/constants/themeGenres.ts
  frontend/src/hooks/useRandomThemesQuery.tsx
  frontend/src/pages/Root/Root.tsx
  frontend/src/pages/Root/components/RandomThemeListContainer.tsx
  frontend/src/pages/Root/components/RootLayout.tsx
  frontend/src/utils/pickRandomNumber.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#87 Feature/BE/#15: 회원가입 추가정보 입력 API
  backend/src/modules/authModules/auth/auth.module.ts
  backend/src/modules/authModules/auth/jwt.strategy.ts
  backend/src/modules/userModules/user/dtos/userInfo.request.dto.ts
  backend/src/modules/userModules/user/entities/user.entity.ts
  backend/src/modules/userModules/user/user.controller.ts
  backend/src/modules/userModules/user/user.module.ts
  backend/src/modules/userModules/user/user.repository.ts
  backend/src/modules/userModules/user/user.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#93 Fix/BE/#92: Module 참조 방식 수정
  backend/src/app.module.ts
  backend/src/modules/themeModules/branch/branch.module.ts
  backend/src/modules/themeModules/theme/theme.module.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#97 Feature/FE/#45: 로그인 모달, 회원가입 모달 구현 / 네아로 구현중 API 연동 필요
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/__mocks__/handlers/loginHandlers.ts
  frontend/src/__mocks__/handlers/profileHandlers.ts
  frontend/src/__mocks__/server.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/components/JoinModal/JoinModal.tsx
  frontend/src/components/JoinModal/JoinModalComponent/JoinModalComponent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepOneContent/StepOneContent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepTwoContent/StepTwoContent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepTwoContent/ThemeButton/ThemeButton.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/LoginModal/NaverLogin/NaverLogin.tsx
  frontend/src/components/Router/CustomRouter.tsx
  frontend/src/constants/themeGenres.ts
  frontend/src/hooks/useInput.tsx
  frontend/src/hooks/useProfileQuery.tsx
  frontend/src/utils/auth/authHandler.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#104 Feature/FE/#99 네이버 로그인 구현
  frontend/index.html
  frontend/src/apis/fetchLogin.ts
  frontend/src/assets/images/oauth/naver/naver.png
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/components/LoginModal/NaverLogin/NaverLogin.tsx
  frontend/src/components/Router/CustomRouter.tsx
  frontend/src/pages/Auth/Auth.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#106 Feature/FE/#76 위치기반 테마 추천 기능 추가
  frontend/src/apis/fetchThemesByLocation.ts
  frontend/src/components/List/SimpleThemeCardList/SimpleThemeCardList.tsx
  frontend/src/constants/geolocation.ts
  frontend/src/constants/queryManagement.ts
  frontend/src/hooks/useGeolocation.tsx
  frontend/src/hooks/useThemesByGeolocationQuery.tsx
  frontend/src/pages/Root/components/GeoLocationThemeListContainer.tsx
  frontend/src/pages/Root/components/RootLayout.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#98 Feature/BE/#91: 모집글 생성 API
  backend/src/modules/themeModules/theme/theme.module.ts
  backend/src/modules/userModules/group/dtos/group.create.dto.ts
  backend/src/modules/userModules/group/entities/group.entity.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/group/group.module.ts
  backend/src/modules/userModules/group/group.repository.ts
  backend/src/modules/userModules/group/group.service.ts
  backend/src/modules/userModules/user/user.module.ts
Labels: ✨Feature✨, 🌐Backend🌐

#111 Feature/FE/#102: 회원가입 관련 로직 추가 및 API 연동
  frontend/src/apis/fetchJoin.ts
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/components/JoinModal/JoinModalComponent/JoinModalComponent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepOneContent/StepOneContent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepOneContent/useNameValidation.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepTwoContent/StepTwoContent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepTwoContent/ThemeButton/ThemeButton.tsx
  frontend/src/config/userInstance.ts
  frontend/src/hooks/useProfileQuery.tsx
  frontend/src/utils/auth/authHandler.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#113 Config/FE/#112 도커 파일, nginx, CD 스크립트 작성
  .github/workflows/CD-Front.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/public/assets/images/logo/Big-Dark.png
  frontend/public/assets/images/oauth/naver/naver.png
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/LoginModal/NaverLogin/NaverLogin.tsx
  frontend/src/config/server.ts
  frontend/vite.config.ts
Labels: 🔧Config📦, 🖥️Frontend🖥️

#109 Feature/BE/#108: OptionalGuard 데코레이터 추가 및 초기 닉네임 랜덤 생성으로 변경
  backend/src/decorator.ts
  backend/src/modules/authModules/auth/auth.guard.ts
  backend/src/modules/userModules/user/user.repository.ts
  backend/src/modules/userModules/user/user.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#116 🔧 브랜치명 master에서 main으로 변경
  .github/workflows/CD-Front.yml
Labels: 🔧Config📦, 🖥️Frontend🖥️

#117 3주차 배포 CD 버그 수정
  .github/workflows/CD-Front.yml
Labels: 🔧Config📦, 🖥️Frontend🖥️

#120 HotFix/FE/#118 🚑 CD 태그 이름 변경
  .github/workflows/CD-Front.yml
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#119 HotFix/FE/#118 🚑 CD 태그 이름 변경
  .github/workflows/CD-Front.yml
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#121 Feature/FE/#100: 메인페이지 캐러셀 기능 추가
  .github/workflows/CD-Front.yml
  frontend/jest.polyfills.js
  frontend/package.json
  frontend/src/__tests__/List/SimpleThemeCardList/SimpleThemeCardList.test.tsx
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/List/SimpleThemeCardList/SimpleThemeCardList.tsx
  frontend/src/config/carouselConfig.ts
  frontend/src/pages/Root/components/RandomThemeListContainer.tsx
  frontend/src/pages/Root/components/RootLayout.tsx
  frontend/yarn.lock
Labels: ✨Feature✨, 🖥️Frontend🖥️

#123 Config/BE/#122: 백엔드 CD
  .github/workflows/CD-Back.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/src/main.ts
Labels: 🔧Config📦, 🌐Backend🌐

#124 3주차 최종 배포
  .github/workflows/CD-Back.yml
  .github/workflows/CD-Front.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/src/main.ts
  frontend/jest.polyfills.js
  frontend/package.json
  frontend/src/__tests__/List/SimpleThemeCardList/SimpleThemeCardList.test.tsx
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/List/SimpleThemeCardList/SimpleThemeCardList.tsx
  frontend/src/config/carouselConfig.ts
  frontend/src/pages/Root/components/RandomThemeListContainer.tsx
  frontend/src/pages/Root/components/RootLayout.tsx
  frontend/yarn.lock
Labels: 🖥️Frontend🖥️, 🌐Backend🌐

#126 HotFix/WE/#125: CD에러를 수정
  .github/workflows/CD-Back.yml
  .github/workflows/CD-Front.yml
  frontend/.env
  frontend/nginx.conf
  frontend/src/components/Modal/Modal.tsx
  frontend/src/config/carouselConfig.ts
  frontend/src/config/server.ts
  frontend/src/constants/themeGenres.ts
Labels: 🐛Fix🐛, 🖥️Frontend🖥️, 🌐Backend🌐

#127 HotFix/WE/#125: CD에러를 수정
  .github/workflows/CD-Back.yml
  .github/workflows/CD-Front.yml
  frontend/.env
  frontend/nginx.conf
  frontend/src/components/Modal/Modal.tsx
  frontend/src/config/carouselConfig.ts
  frontend/src/config/server.ts
  frontend/src/constants/themeGenres.ts
Labels: 🖥️Frontend🖥️, 🌐Backend🌐

#129 Feature/FE/#128 검색 리팩토링 및 페이지 이동
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/components/Router/CustomRouter.tsx
  frontend/src/hooks/useHeaderSearchInput.tsx
  frontend/src/pages/Search/Search.tsx
Labels: ✨Feature✨, ♻️Refactor♻️, 🖥️Frontend🖥️

#136 Config/FE/#135: socket.io-client 설치
  frontend/package.json
  frontend/yarn.lock
Labels: 🔧Config📦, 🖥️Frontend🖥️

#137 Feature/FE/#107 카드 컴포넌트 구성
  frontend/src/__mocks__/recruitment/recruitmentCard.ts
  frontend/src/apis/enterGroupByGroupId.ts
  frontend/src/components/Card/GroupInfoCard/GroupInfoCard.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCard.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardContent.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardHeader.tsx
  frontend/src/components/Card/GroupInfoCard/TailCard/TailCard.tsx
  frontend/src/constants/StyleMap/ButtonsStyleMap.ts
  frontend/src/constants/StyleMap/CommonStyleMap.ts
  frontend/src/pages/Recruitment/Recruitment.tsx
  frontend/src/pages/Recruitment/components/RecruitmentLayout.tsx
  frontend/src/types/recruitment.ts
  frontend/src/utils/getStringByDate.ts
  frontend/tailwind.config.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#148 Config/WE/#147: dev 브랜치도 CD 대상으로 변경
  .github/workflows/CD-Back.yml
  .github/workflows/CD-Front.yml
Labels: 🔧Config📦, 🖥️Frontend🖥️, 🌐Backend🌐

#151 Feature/BE/#150: 그룹 리스트 반환 API 응답 데이터 수정
  backend/src/dtos/pagination.meta.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.branch.detail.response.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.detail.branch.response.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.detail.response.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.detail.without.brandbranch.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.response.dto.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
  backend/src/modules/userModules/group/dtos/group.create.dto.ts
  backend/src/modules/userModules/group/dtos/group.find.detail.response.dto.ts
  backend/src/modules/userModules/group/dtos/group.find.response.dto.ts
  backend/src/modules/userModules/group/dtos/group.leader.dto.ts
  backend/src/modules/userModules/group/dtos/groups.response.dto.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/group/group.repository.ts
  backend/src/modules/userModules/group/group.service.ts
Labels: ✨Feature✨, ♻️Refactor♻️, 🌐Backend🌐

#153 Feature/BE/#139: 검색 시 심플 테마 반환 API
  backend/src/modules/themeModules/theme/dtos/genre.dto.ts
  backend/src/modules/themeModules/theme/dtos/genre.themes.response.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.simple.search.response.dto.ts
  backend/src/modules/themeModules/theme/genre.repository.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#133 Fix/BE/#132: 위치 기반 매장 테마 반환 API pagination 추가
  backend/src/dtos/pagination.dto.ts
  backend/src/dtos/pagination.page.meta.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.location.dto.ts
  backend/src/modules/themeModules/theme/dtos/theme.location.response.dto.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#152 Feature/FE/#101: 메인페이지 테마 상세정보 모달 개발
  frontend/src/__mocks__/browser.ts
  frontend/src/__mocks__/handlers/themeDetailsHandlers.ts
  frontend/src/__mocks__/server.ts
  frontend/src/__mocks__/themeDetails/themeDetailsByThemeId.ts
  frontend/src/__tests__/Card/SimpleThemeCard/SimpleThemeCard.test.tsx
  frontend/src/__tests__/List/SimpleThemeCardList/SimpleThemeCardList.test.tsx
  frontend/src/apis/fetchThemeDetails.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/ThemeDetailsModal/ThemeDetailsModal.tsx
  frontend/src/components/ThemeDetailsModal/components/ThemeCard.tsx
  frontend/src/components/ThemeDetailsModal/components/ThemeInfoItem.tsx
  frontend/src/components/ThemeDetailsModal/useThemeDetailsQuery.tsx
  frontend/src/constants/queryManagement.ts
  frontend/src/constants/themeGenres.ts
  frontend/src/hooks/useModal.tsx
  frontend/src/main.tsx
  frontend/src/types/theme.ts
  frontend/tailwind.config.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#145 Feature/FE/#143 그룹 페이지 디자인
  frontend/src/__mocks__/group/groupListMock.ts
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardContent.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Router/CustomRouter.tsx
  frontend/src/pages/GroupList/GroupList.tsx
  frontend/src/pages/GroupList/components/Group/Group.tsx
  frontend/src/pages/GroupList/components/Group/GroupContent.tsx
  frontend/src/pages/GroupList/components/Group/GroupFooter.tsx
  frontend/src/pages/GroupList/components/Group/GroupHeader.tsx
  frontend/src/pages/GroupList/components/GroupListLayout.tsx
  frontend/src/types/group.ts
  frontend/src/types/navMenu.ts
  frontend/src/utils/dateUtil.ts
  frontend/src/utils/getStringByDate.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#156 Feature/FE/#149 그룹 페이지 무한 스크롤 구현 및 InterSectionObserver 커스텀 훅 생성
  frontend/src/__mocks__/browser.ts
  frontend/src/__mocks__/handlers/recruitmentCardHandler.ts
  frontend/src/__mocks__/recruitment/recruitmentCard.ts
  frontend/src/__mocks__/recruitment/recruitmentCardMock.ts
  frontend/src/__mocks__/server.ts
  frontend/src/apis/fetchRecruitmentByCursor.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCard.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardContent.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardHeader.tsx
  frontend/src/components/Card/GroupInfoCard/TailCard/TailCard.tsx
  frontend/src/constants/queryManagement.ts
  frontend/src/hooks/query/useRecruitmentListInfiniteQuery.tsx
  frontend/src/hooks/useIntersectionObserver.tsx
  frontend/src/pages/Recruitment/components/RecruitmentLayout.tsx
  frontend/src/types/recruitment.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#164 Config/BE/#160: MongoDB 연동
  backend/package.json
  backend/src/app.module.ts
  backend/src/enum/chat.type.ts
  backend/src/modules/userModules/chat/entities/chat.message.schema.ts
  backend/src/modules/userModules/chat/entities/chat.user.schema.ts
  backend/src/modules/userModules/chat/entities/room.schema.ts
  backend/yarn.lock
Labels: 🔧Config📦, 🌐Backend🌐

#167 Config/BE/#166: 도커에 몽고 env 파일 추가
  .github/workflows/CD-Back.yml
Labels: 🔧Config📦, 🌐Backend🌐

#158 Feature/BE/#155: 사용자의 채팅방 리스트를 반환하는 API 및 swagger JWT 토큰 추가
  backend/src/dtos/pagination.dto.ts
  backend/src/main.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
  backend/src/modules/userModules/chat/chat.controller.ts
  backend/src/modules/userModules/chat/chat.module.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
  backend/src/modules/userModules/group/dtos/group.pagination.cursor.dto.ts
  backend/src/modules/userModules/group/group.service.ts
  backend/src/modules/userModules/user/dtos/users.rooms.response.dto.ts
  backend/src/modules/userModules/user/user.controller.ts
  backend/src/modules/userModules/user/user.service.ts
  backend/src/modules/userModules/user/userGroup.repository.ts
Labels: ✨Feature✨, 🌐Backend🌐

#163 Feature/FE/#154: 채팅방 페이지 UI 및 기본 기능 개발
  frontend/package.json
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Router/CustomRouter.tsx
  frontend/src/pages/Chat/Chat.tsx
  frontend/src/pages/Chat/components/ChatContainer.tsx
  frontend/src/pages/Chat/components/MessageBox/MessageBox.tsx
  frontend/src/pages/Chat/components/RoomInfoContainer.tsx
  frontend/src/pages/Chat/components/UserItem/LeaderIcon.svg
  frontend/src/pages/Chat/components/UserItem/UserItem.tsx
  frontend/src/pages/Chat/components/UserListContainer.tsx
  frontend/src/pages/Chat/icon/LeaderIcon.svg
  frontend/src/pages/Chat/icon/sendIcon.svg
  frontend/src/pages/Chat/mock/mockChatLogData.ts
  frontend/src/pages/Chat/mock/mockRoomInfoData.ts
  frontend/src/pages/Chat/mock/mockUserData.ts
  frontend/src/store/chatRoom.tsx
  frontend/src/types/chat.ts
  frontend/src/types/client.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: ✨Feature✨, 🖥️Frontend🖥️

#171 Config/BE/#170: 몽고 DB 스키마 수정 및 __v 제거
  backend/src/modules/userModules/chat/chat.module.ts
  backend/src/modules/userModules/chat/entities/chat.message.schema.ts
  backend/src/modules/userModules/chat/entities/chat.user.schema.ts
  backend/src/modules/userModules/chat/entities/room.schema.ts
Labels: 🔧Config📦, 🌐Backend🌐

#173 Feature/FE/#169: 채팅 기본 기능 소켓 연동
  frontend/src/config/server.ts
  frontend/src/hooks/socket/useRoomInfo.ts
  frontend/src/hooks/socket/useSocket.ts
  frontend/src/hooks/socket/useUserInfo.ts
  frontend/src/pages/Chat/Chat.tsx
  frontend/src/pages/Chat/components/ChatContainer.tsx
  frontend/src/pages/Chat/components/MessageBox/MessageBox.tsx
  frontend/src/pages/Chat/components/RoomInfoContainer.tsx
  frontend/src/pages/Chat/components/UserListContainer.tsx
  frontend/src/pages/Chat/mock/mockChatLogData.ts
  frontend/src/store/chatRoom.tsx
  frontend/src/types/chat.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#178 Config/FE/#177 react-query의 default retry를 false로 변경
  frontend/src/main.tsx
Labels: 🔧Config📦, 🖥️Frontend🖥️

#182 Fix/FE/174: DTO에 맞게 속성명 수정 및 일부 스타일 조정
  frontend/src/__mocks__/SimpleThemeCardList/simpleThemeCardListMock.ts
  frontend/src/__mocks__/themeDetails/themeDetailsByThemeId.ts
  frontend/src/__tests__/Card/SimpleThemeCard/SimpleThemeCard.test.tsx
  frontend/src/apis/fetchThemesByLocation.ts
  frontend/src/apis/fetchThemesByRandomGenres.ts
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/ThemeDetailsModal/ThemeDetailsModal.tsx
  frontend/src/components/ThemeDetailsModal/components/ThemeCard.tsx
  frontend/src/config/carouselConfig.ts
  frontend/src/pages/Root/components/GeoLocationThemeListContainer.tsx
  frontend/src/pages/Root/components/RandomThemeListContainer.tsx
  frontend/src/types/theme.ts
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#185 Fix/FE/#184: 새로고침시 메인페이지로 redirect하는 문제 해결
  frontend/src/hooks/useHeaderSearchInput.tsx
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#176 Feature/FE/#161: 디바운스 input 커스텀 훅 생성 및 탈출러 모집 글 작성 모달
  frontend/package.json
  frontend/src/apis/createRecruitment.ts
  frontend/src/apis/fetchThemeByName.ts
  frontend/src/components/Modal/MakeGroupModal/FormElement/CalendarContainer.tsx
  frontend/src/components/Modal/MakeGroupModal/FormElement/ContentsContainer.tsx
  frontend/src/components/Modal/MakeGroupModal/FormElement/MemberCountContainer.tsx
  frontend/src/components/Modal/MakeGroupModal/FormElement/ReservationContainer.tsx
  frontend/src/components/Modal/MakeGroupModal/FormElement/SelectThemeForm.tsx
  frontend/src/components/Modal/MakeGroupModal/FormElement/ThemeSearchContainer.tsx
  frontend/src/components/Modal/MakeGroupModal/MakeGroupModal.tsx
  frontend/src/hooks/query/useSearchSimpleThemeQuery.tsx
  frontend/src/hooks/useCreateRecruitmentForm.tsx
  frontend/src/hooks/useDebounceInput.tsx
  frontend/src/pages/Recruitment/components/RecruitmentLayout.tsx
  frontend/yarn.lock
Labels: ✨Feature✨, 🖥️Frontend🖥️

#183 Feature/FE/#180: 채팅방 불러오기 및 ErrorBoundary, Suspense 설정
  frontend/package.json
  frontend/src/__mocks__/browser.ts
  frontend/src/__mocks__/handlers/roomListHandlers.ts
  frontend/src/__mocks__/room/roomListMock.ts
  frontend/src/__mocks__/server.ts
  frontend/src/apis/fetchRoomList.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Router/CustomRouter.tsx
  frontend/src/constants/queryManagement.ts
  frontend/src/hooks/query/useRoomListQuery.tsx
  frontend/src/pages/GroupList/GroupList.tsx
  frontend/src/pages/GroupList/components/GroupListLayout.tsx
  frontend/src/pages/RoomList/RoomList.tsx
  frontend/src/pages/RoomList/components/Room/Room.tsx
  frontend/src/pages/RoomList/components/Room/RoomContent.tsx
  frontend/src/pages/RoomList/components/Room/RoomFooter.tsx
  frontend/src/pages/RoomList/components/Room/RoomHeader.tsx
  frontend/src/pages/RoomList/components/RoomListLayout.tsx
  frontend/src/types/navMenu.ts
  frontend/yarn.lock
Labels: ✨Feature✨, 🔧Config📦, 🖥️Frontend🖥️

#181 Feature/BE/#168: 사용자의 채팅방(소켓) 입장시 필요한 유저 관련 쿼리 개발
  backend/src/modules/userModules/chat/chat.module.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
  backend/src/modules/userModules/chat/dtos/chat.user.info.dto.ts
  backend/src/modules/userModules/chat/entities/chat.user.schema.ts
  backend/src/modules/userModules/group/group.module.ts
Labels: ✨Feature✨, 🌐Backend🌐

#188 Fix/FE/#187: 최초 로그인시에 닉네임을 불러올 수 없는 문제 해결
  frontend/src/apis/fetchUserProfile.ts
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/components/Modal/MakeGroupModal/MakeGroupModal.tsx
  frontend/src/constants/queryManagement.ts
  frontend/src/hooks/useProfileQuery.tsx
  frontend/src/pages/Auth/Auth.tsx
  frontend/src/pages/Root/components/RandomThemeListContainer.tsx
  frontend/src/store/userAtom.tsx
  frontend/src/types/profile.ts
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#186 Feature/BE/#175: 그룹/채팅방 입장 API 개발
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/group/entities/group.entity.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/group/group.repository.ts
  backend/src/modules/userModules/group/group.service.ts
  backend/src/modules/userModules/user/entities/userGroup.entity.ts
Labels: ✨Feature✨, 🌐Backend🌐

#190 Config/BE/#189: redis와 socket.io 패키지 설치
  backend/package.json
  backend/src/adapter/redis.io.adapter.ts
  backend/src/main.ts
  backend/yarn.lock
Labels: 🔧Config📦, 🌐Backend🌐

#191 Fix/BE/#141: 응답형식 변경 & 오타 수정
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/userModules/group/group.controller.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#194 Fix/BE/#192: redis 설정 파일을 배포 파일에 추가
  .github/workflows/CD-Back.yml
  backend/Dockerfile
Labels: 🐛Fix🐛, 🔧Config📦, 🌐Backend🌐

#198 Fix/BE/#195: 백엔드 배포 파일 전면 수정
  .github/workflows/CD-Back.yml
  backend/Dockerfile
  backend/docker-compose.yaml
Labels: 🐛Fix🐛, 🌐Backend🌐

#199 Fix/FE/#197 Carousel 스크롤 시 클릭되던 문제 해결
  frontend/jest.config.ts
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/ThemeDetailsModal/ThemeDetailsModal.tsx
  frontend/src/store/isSwipingAtom.tsx
  frontend/tsconfig.json
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#204 Fix/BE/#203: 리턴값 수정 & 오타 수정
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/group/group.service.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#207 Fix/BE/#205: 리턴 에러 수정
  backend/src/modules/userModules/group/group.controller.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#206 Fix/FE/#200 방 입장 시 올바른 url로 이동하도록 수정
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardContent.tsx
  frontend/src/components/Card/GroupInfoCard/TailCard/TailCard.tsx
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#213 💄 ✨ 메인페이지 스켈레톤 컴포넌트 생성
  frontend/src/pages/Root/components/RootSkeletonComponent.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️
