Repository boostcampwm2023/web03-LockFestival, pull requests merged in 2023-12, with the labels that each got.

#224 Fix/BE/#223: `branch brand` -> `brand branch`로 쿼리 변경
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/userModules/group/group.repository.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#231 Feature/BE/#165: 채팅방 정보를 불러와요
  backend/src/modules/userModules/group/dtos/group.info.dto.ts
  backend/src/modules/userModules/group/dtos/group.info.response.dto.ts
  backend/src/modules/userModules/group/group.repository.ts
  backend/src/modules/userModules/group/group.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#246 Fix/BE/#245 채팅방 입장시 발생하는 버그 수정
  backend/src/gateway/events.gateway.ts
  backend/src/modules/userModules/chat/dtos/chat.message.dto.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#259 Fix/BE/#258: message를 불러올 때 populate를 하지 않도록 수정
  backend/src/modules/userModules/chat/chat.repository.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#260 Feature/BE/#256: 연결이 끊어졌을 때 마지막 로그아이디를 업데이트
  backend/src/gateway/events.gateway.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#274 Feature/BE/#273: 채팅방 입장시 안읽은 메세지를 반환하는 API 개발
  backend/src/gateway/events.gateway.ts
  backend/src/modules/userModules/chat/chat.controller.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
  backend/src/modules/userModules/chat/dtos/chat.entered.response.dto.ts
  backend/src/modules/userModules/chat/dtos/chat.message.dto.ts
  backend/src/modules/userModules/chat/dtos/chat.unread.dto.ts
  backend/src/modules/userModules/chat/entities/chat.message.schema.ts
Labels: ✨Feature✨, 🌐Backend🌐

#276 Feature/FE/#254 과거 채팅 무한 스크롤, 스크롤 기능, 메세지 박스 디자인 변경
  frontend/src/hooks/socket/useChatLog.ts
  frontend/src/hooks/socket/useSocket.ts
  frontend/src/hooks/socket/useSocketConnection.ts
  frontend/src/hooks/useIntersectionObserverSocket.tsx
  frontend/src/pages/ChatRoom/ChatRoom.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/MessageBox.tsx
  frontend/src/pages/ChatRoom/components/ChatRoomContainer.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserItem/UserItem.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserListPanel.tsx
  frontend/src/pages/ChatRoom/mock/mockUserData.ts
  frontend/src/types/chat.ts
  frontend/src/utils/chatDataUtils.ts
Labels: ✨Feature✨, 🐛Fix🐛, 🖥️Frontend🖥️

#280 Fix/BE/#279: last_chat 값 체크
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#278 Feature/BE/#272: 채팅방 리스트 반환 API에 채팅 정보 추가
  backend/src/modules/userModules/chat/chat.controller.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/user/dtos/uesrs.rooms.details.dto.ts
  backend/src/modules/userModules/user/dtos/users.rooms.group.dto.ts
  backend/src/modules/userModules/user/dtos/users.rooms.response.dto.ts
  backend/src/modules/userModules/user/user.controller.ts
  backend/src/modules/userModules/user/user.service.ts
  backend/src/modules/userModules/user/userGroup.repository.ts
Labels: ✨Feature✨, 🌐Backend🌐

#282 Feature/FE/#281 채팅방 디자인 변경
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/MyChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/OtherChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/SystemChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/MessageBox.tsx
Labels: ✨Feature✨, ♻️Refactor♻️, 🖥️Frontend🖥️

#293 Fix/BE/#291: 채팅방 리스트 조회 API에서 채팅방에 채팅이 없는 경우 에외처리 추가
  backend/src/modules/userModules/user/user.service.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#295 Feature/FE/#290 채팅방 리스트 api 변경, 디자인 변경 및 나가는 로직 추가
  frontend/src/__mocks__/room/roomListMock.ts
  frontend/src/apis/deleteGroupByGroupId.ts
  frontend/src/apis/fetchRoomList.tsx
  frontend/src/hooks/query/useRoomListInfiniteQuery.tsx
  frontend/src/hooks/query/useRoomListQuery.tsx
  frontend/src/pages/RoomList/components/Room/Room.tsx
  frontend/src/pages/RoomList/components/Room/RoomContent.tsx
  frontend/src/pages/RoomList/components/Room/RoomFooter.tsx
  frontend/src/pages/RoomList/components/RoomListLayout.tsx
  frontend/src/types/group.ts
  frontend/src/utils/dateUtil.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#299 Feature/FE/#297: 채팅 날짜, 프로필, 시각 표시 중복 제거
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/MyChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/OtherChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/MessageBox.tsx
  frontend/src/utils/chatMessageUtil.ts
  frontend/src/utils/dateUtil.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#298 Feature/BE/#296: 채팅방 최초 접속시 채팅방에 입장 메세지 전송 로직 추가
  backend/src/gateway/events.gateway.ts
  backend/src/gateway/events.module.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/group/group.module.ts
  backend/src/modules/userModules/group/group.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#304 Feature/FE/#303: 이전 채팅기록 로딩 후 기존에 보던 채팅 유지하기
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#292 Feature/BE/#265: 채팅방 퇴장 API
  backend/src/gateway/events.gateway.ts
  backend/src/gateway/events.module.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/group/group.repository.ts
  backend/src/modules/userModules/group/group.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#307 Fix/FE/#305: 채팅방 관련 이슈 해결
  frontend/src/hooks/socket/useSocket.ts
  frontend/src/hooks/socket/useSocketConnection.ts
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#318 Fix/FE/#316: openModal 잘못된 사용 수정
  frontend/src/pages/Error/CommonError.tsx
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#321 Feature/BE/#302: 채팅방 강퇴 이벤트 생성
  backend/src/gateway/events.gateway.ts
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
  backend/src/modules/userModules/chat/dtos/chat.leave.dto.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/group/group.repository.ts
  backend/src/modules/userModules/group/group.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#326 Fix/FE/#325: 회원가입 로직 변경
  frontend/src/apis/fetchJoin.ts
  frontend/src/components/JoinModal/JoinModalComponent/JoinModalComponent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepTwoContent/StepTwoContent.tsx
  frontend/src/constants/mutationManagement.ts
  frontend/src/hooks/mutation/useJoinMutation.tsx
  frontend/src/types/profile.ts
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#336 Feature/FE/#335: memo 적용
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/MessageBox.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#339 Fix/FE/#338: 맥에서 한글 채팅만 2번 전송되는 문제 및 \n 줄바꿈 적용
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/MyChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/OtherChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/SystemChatBox.tsx
Labels: ✨Feature✨, 🐛Fix🐛, 🖥️Frontend🖥️

#344 Feature/FE/#342: 헤더 태블릿 사이즈 반응형 및 focus 오류 수정
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/types/navMenu.ts
Labels: ✨Feature✨, 🐛Fix🐛, 🖥️Frontend🖥️

#343 Fix/FE/#333: 검색페이지 중복결과, 무한 스크롤 및 채팅페이지 스크롤 버그 fix
  frontend/src/hooks/intersectionObserver/useIntersectionObserver.tsx
  frontend/src/hooks/intersectionObserver/useIntersectionObserverSocket.tsx
  frontend/src/hooks/intersectionObserver/useIsScrollTopObserver.tsx
  frontend/src/hooks/query/useSearchThemeInfiniteQuery.tsx
  frontend/src/hooks/useHeaderSearchInput.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/Recruitment/components/RecruitmentLayout.tsx
  frontend/src/pages/RoomList/components/RoomListLayout.tsx
  frontend/src/pages/Search/Search.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#345 Feature/FE/#322: 탈출러 모집 페이지 참여중인 방 표시
  frontend/src/components/Card/GroupInfoCard/EnterDisplay/EnterDisplay.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCard.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardHeader.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#346 Feature/FE/#253: 채팅방 페이지 시간표 UI 마크업
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/TimeTable/TimeTable.tsx
  frontend/src/pages/ChatRoom/mock/mockTimeTableData.ts
  frontend/src/types/chat.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#348 Feature/FE/#347: 채팅방 나가기, 강퇴 API 연동 및 소켓 연결하기
  frontend/src/hooks/socket/useSocket.ts
  frontend/src/pages/ChatRoom/ChatRoom.tsx
  frontend/src/pages/ChatRoom/components/ChatRoomContainer.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserListPanel.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#328 Feature/BE/#323: 모집 정보 수정
  backend/src/gateway/events.gateway.ts
  backend/src/modules/userModules/group/dtos/group.create.dto.ts
  backend/src/modules/userModules/group/dtos/group.edit.dto.ts
  backend/src/modules/userModules/group/group.repository.ts
  backend/src/modules/userModules/group/group.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#251 Feature/BE/#249: 기존에 구현한 크롤러들을 서버에 추가하기
  backend/package.json
  backend/src/modules/themeModules/crawlerUtils/abstractCrawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler.factory.ts
  backend/src/modules/themeModules/crawlerUtils/crawler.metadata.interface.ts
  backend/src/modules/themeModules/crawlerUtils/crawler.tokens.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/dumbndumber.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/earthstar.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/goldenkey.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/keyescape.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/masterkey.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/nextedition.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/secretgardenescape.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/seoulescaperoom.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/xdungeon.crawler.ts
  backend/src/modules/themeModules/crawlerUtils/dtos/timetable.response.dto.ts
  backend/src/modules/themeModules/theme/dtos/date.request.dto.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.module.ts
  backend/src/modules/themeModules/theme/theme.repository.ts
  backend/src/modules/themeModules/theme/theme.service.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: ✨Feature✨, 🌐Backend🌐

#359 Fix/BE/#355: 모집글 테마도 변경할 수 있도록 수정
  backend/src/modules/userModules/group/group.repository.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#353 Config/FE/#352: seo 최적화를 위한 react-helmet-async 설치
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/pages/Root/components/RootLayout.tsx
  frontend/yarn.lock
Labels: 🔧Config📦, 🖥️Frontend🖥️

#357 Feature/FE/#356: 가상 스크롤 적용
  frontend/package.json
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/yarn.lock
Labels: ✨Feature✨, 🔧Config📦, 🖥️Frontend🖥️

#360 Feature/FE/#349: 방정보 변경하기 소켓 연결
  frontend/src/components/Modal/MakeGroupModal/FormElement/ReservationContainer.tsx
  frontend/src/hooks/socket/useSocket.ts
  frontend/src/pages/ChatRoom/ChatRoom.tsx
  frontend/src/pages/ChatRoom/components/ChatRoomContainer.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomSettingModal/FormElement/RecruitmentContainer.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomSettingModal/RoomSettingModal.tsx
  frontend/src/types/chat.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#351 Feature/FE/#350: 참여중인 방이 없을 때, 모집중인 글이 없을 때 보여줄 컴포넌트 생성 및 새로고침 에러 처리
  frontend/src/hooks/useHeaderSearchInput.tsx
  frontend/src/hooks/useThemesByGeolocationQuery.tsx
  frontend/src/pages/Recruitment/components/RecruitmentLayout.tsx
  frontend/src/pages/RoomList/components/RoomListLayout.tsx
Labels: ✨Feature✨, 🐛Fix🐛, 🖥️Frontend🖥️

#362 Feature/FE/#358: 채팅방 실시간 시간표 API 연동
  frontend/src/App.tsx
  frontend/src/apis/fetchThemeTimeTable.ts
  frontend/src/components/Modal/MakeGroupModal/FormElement/CalendarContainer.tsx
  frontend/src/constants/queryManagement.ts
  frontend/src/hooks/useTimeTableQuery.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/TimeTable/TimeTable.tsx
  frontend/src/styles/Calendar.css
Labels: ✨Feature✨, 🖥️Frontend🖥️

#366 Fix/FE/#363: 검색페이지 모집 바로가기 버그 수정 및 기본 페이지 이동 조건 변경
  frontend/src/hooks/useHeaderSearchInput.tsx
  frontend/src/pages/Search/Search.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#369 Feature/FE/#368 동료 학습 피드백 수용 및 nav menu 이름 변경
  frontend/package.json
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardContent.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Layout.tsx
  frontend/src/hooks/mutation/useJoinMutation.tsx
  frontend/src/hooks/mutation/useLeaveRoomMutation.tsx
  frontend/src/hooks/socket/useSocket.ts
  frontend/src/pages/Auth/Auth.tsx
  frontend/src/pages/Recruitment/components/RecruitmentLayout.tsx
  frontend/src/pages/RoomList/components/RoomListLayout.tsx
  frontend/yarn.lock
Labels: ✨Feature✨, ♻️Refactor♻️, 🔧Config📦, 🖥️Frontend🖥️

#364 Refactor/BE/#361: 랜덤 닉네임 생성 로직을 무작위 -> '방탈러'+숫자로 변경
  backend/src/modules/userModules/user/user.service.ts
Labels: ♻️Refactor♻️, 🌐Backend🌐

#367 Fix/BE/#365: 채팅방 중복 세션시 초기 데이터를 못불러오는 버그 수정
  backend/src/modules/userModules/chat/chat.repository.ts
  backend/src/modules/userModules/chat/chat.service.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#372 Fix/FE/#371: 로그인 후 이전 페이지로 돌아가지 않는 현상
  frontend/src/hooks/useHeaderSearchInput.tsx
  frontend/src/pages/Auth/Auth.tsx
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#379 Config/BE/#138: NCP object storage에 이미지 업로드
  nginx.conf
Labels: 🔧Config📦, 🌐Backend🌐

#377 Feature/BE/#373: 테마 시간표 API에 캐싱 적용
  backend/package.json
  backend/src/app.module.ts
  backend/src/constants/time.converter.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.service.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: ✨Feature✨, 🌐Backend🌐

#374 Fix/FE/#354: 간헐적으로 로그인이 되지 않는 문제 해결
  frontend/src/pages/Auth/Auth.tsx
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#382 Feature/FE/#381: 드롭다운 메뉴 추가 및 헤더 디자인 변경
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#376 Refactor/FE/#375 채팅 렌더링 최적화
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/MyChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/OtherChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/SystemChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/MessageBox.tsx
Labels: ♻️Refactor♻️, 🖥️Frontend🖥️

#378 Refactor/FE/#370: 스크롤이벤트 쓰로틀링 적용
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/utils/throttle.ts
Labels: ♻️Refactor♻️, 🖥️Frontend🖥️

#386 Fix/BE/#384: 넥스트에디션의 반환값 수정 및 크롤러 모듈의 에러처리
  backend/src/modules/themeModules/crawlerUtils/crawler/nextedition.crawler.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#391 Feature/FE/#385: 실시간 시간표 수정 및 새로운 채팅 팝업 메세지 기능 구현
  frontend/src/hooks/useTimeTableQuery.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/MyChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/OtherChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/MessageBox/BoxType/SystemChatBox.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/PopUpMessageBox/PopUpMessageBox.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/TimeTable/TimeTable.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserItem/UserItem.tsx
  frontend/tailwind.config.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️

#390 Feature/BE/#388: 채팅방 정보에 홈페이지도 함께 반환
  backend/src/modules/userModules/group/dtos/group.info.response.dto.ts
  backend/src/modules/userModules/group/group.repository.ts
Labels: ✨Feature✨, 🌐Backend🌐

#394 Refactor/BE/#392: swagger 정리
  backend/src/modules/authModules/auth/auth.controller.ts
  backend/src/modules/themeModules/branch/branch.controller.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/userModules/chat/chat.controller.ts
  backend/src/modules/userModules/group/group.controller.ts
  backend/src/modules/userModules/user/user.controller.ts
  backend/src/utils/swagger/auth.swagger.decorator.ts
  backend/src/utils/swagger/branch.swagger.decorator.ts
  backend/src/utils/swagger/chat.swagger.decorator.ts
  backend/src/utils/swagger/group.swagger.decorator.ts
  backend/src/utils/swagger/theme.swagger.decorator.ts
  backend/src/utils/swagger/user.swagger.decorator.ts
Labels: ♻️Refactor♻️, 🌐Backend🌐

#395 Feature/FE/#393: 채팅 렌더링 최적화 - 2
  frontend/src/hooks/socket/useSocket.ts
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/InputBox/InputBox.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserListPanel.tsx
Labels: ✨Feature✨, ♻️Refactor♻️, 🖥️Frontend🖥️

#398 Fix/FE/#383: 스크롤 & 처음 렌더링시 팝업메세지 버그 수정
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/TimeTable/TimeTable.tsx
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#401 Feature/FE/#400: 나가기 버그 수정및 sweet-alert2 적용
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/hooks/mutation/useLeaveRoomMutation.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserListPanel.tsx
  frontend/src/pages/RoomList/components/Room/RoomFooter.tsx
  frontend/src/styles/SweetAlert2.css
  frontend/yarn.lock
Labels: ✨Feature✨, 🐛Fix🐛, ♻️Refactor♻️, 🖥️Frontend🖥️

#402 Refactor/FE/#399: 메인페이지 전체적인 반응형 css 수정 및 이미지 aspect-ratio 설정, 로고 변경
  frontend/public/assets/images/logo/Big-Dark.png
  frontend/public/assets/images/logo/logo_leaf.png
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/List/SimpleThemeCardList/SimpleThemeCardList.tsx
  frontend/src/config/carouselConfig.ts
  frontend/src/pages/Root/components/GeoLocationThemeListContainer.tsx
  frontend/src/pages/Root/components/RandomThemeListContainer.tsx
  frontend/src/pages/Root/components/RootSkeletonComponent.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#404 Config/WE/#403: prune 옵션 수정
  .github/workflows/CD-All.yml
Labels: 🔧Config📦

#410 Fix/FE/#409: 회원가입 모달 이미지 경로 변경
  frontend/src/constants/themeGenres.ts
Labels: 🐛Fix🐛, 🖥️Frontend🖥️

#412 Fix/BE/#397: 캐시 적용 위치를 크롤러 API에만 적용하도록 수정
  backend/src/app.module.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.module.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#413 Fix/FE/#411: 간헐적으로 프로필을 불러오지 못하는 문제 수정
  frontend/src/apis/fetchFirstUserProfile.ts
  frontend/src/pages/Auth/Auth.tsx
Labels: ✨Feature✨, 🐛Fix🐛, 🖥️Frontend🖥️

#415 Fix/BE/#414: 에러 처리 변경
  backend/src/modules/themeModules/crawlerUtils/crawler.factory.ts
  backend/src/modules/userModules/chat/chat.repository.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#418 Fix/FE/#405: timeout 설정 및 사이트 바로가기
  frontend/src/apis/fetchThemeTimeTable.ts
  frontend/src/hooks/useTimeTableQuery.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/TimeTable/TimeTable.tsx
  frontend/src/pages/ChatRoom/mock/mockRoomInfoData.ts
  frontend/src/types/chat.ts
  frontend/src/utils/pickRandomNumber.ts
Labels: ✨Feature✨, 🐛Fix🐛, ♻️Refactor♻️, 🖥️Frontend🖥️

#421 Refactor/BE/#419: ThemeController에 캐싱 적용 & 크롤러 캐싱 성능 최적화
  backend/src/constants/ttl.ts
  backend/src/modules/themeModules/crawlerUtils/crawler.factory.ts
  backend/src/modules/themeModules/crawlerUtils/crawler/nextedition.crawler.ts
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/themeModules/theme/theme.module.ts
  backend/src/modules/themeModules/theme/theme.service.ts
Labels: ✨Feature✨, 🌐Backend🌐

#430 Fix/BE/#429: 반영되지 않은 커밋 추가
  backend/src/modules/themeModules/crawlerUtils/abstractCrawler.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#423 Refactor/FE/#422: 안읽은 사람 수 계산 로직 리팩토링
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
Labels: ♻️Refactor♻️, 🖥️Frontend🖥️

#428 Feature/FE/#425: atom 대신 atomFamily 사용
  frontend/src/hooks/intersectionObserver/useIntersectionObserverSocket.tsx
  frontend/src/hooks/socket/useChatLog.ts
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/store/chatRoom.tsx
Labels: ✨Feature✨, ♻️Refactor♻️, 🖥️Frontend🖥️

#432 Refactor/FE/#424: chatMessageUtils 함수 리팩토링 및 회원가입 모달 닉네임 입력창 디바운스 적용
  frontend/src/components/JoinModal/JoinModalComponent/JoinModalComponent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepOneContent/StepOneContent.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/utils/chatMessageUtil.ts
Labels: ♻️Refactor♻️, 🖥️Frontend🖥️

#434 Docs/WE/#443: 기능 gif을 추가
  README.md
Labels: 📝Docs📝

#438 Fix/BE/#437: 채팅방 내부에서 방을 삭제할때 오류 수정
  backend/src/gateway/events.gateway.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#440 Fix/BE/#439: 채팅방 내부에서 방을 삭제할때 중복세션일 경우 오류 수정
  backend/src/gateway/events.gateway.ts
Labels: 🐛Fix🐛, 🌐Backend🌐

#436 Feature/FE/#435: UserList 패널, RoomInfo 패널 스크롤 추가
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserListPanel.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#442 Config/FE/#441: devDependencies로 이동
  frontend/package.json
Labels: 🔧Config📦, 🖥️Frontend🖥️

#444 Docs/WE/#443: 리드미 링크 최신화 및 우리의 개발 과정 추가
  README.md
Labels: 📝Docs📝

#446 Feature/BE/#445: HyperCLOVAX의 비속어순화 모듈 적용
  .github/workflows/CD-All.yml
  backend/src/modules/themeModules/theme/theme.controller.ts
  backend/src/modules/userModules/group/group.module.ts
  backend/src/modules/userModules/group/group.service.ts
  backend/src/utils/naver.ai.ts
  docker-compose.yaml
  frontend/src/apis/fetchEnterRoom.ts
Labels: ✨Feature✨, 🌐Backend🌐
