Repository boostcampwm2023/web03-LockFestival, pull requests merged in 2024-01, with the labels that each got.

#451 Test/FE/#450: useDebounceInput 테스트 코드 작성
  frontend/src/__tests__/hooks/useDebounceInput.test.tsx
Labels: ✅Test✅, 🖥️Frontend🖥️

#453 Refactor/FE/#452: 메인페이지 CSS 수정 및 상세정보모달 모바일 버전 CSS 코드 추가
  frontend/src/components/Card/SimpleThemeCard/SimpleThemeCard.tsx
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/List/SimpleThemeCardList/SimpleThemeCardList.tsx
  frontend/src/components/ThemeDetailsModal/ThemeDetailsModal.tsx
  frontend/src/components/ThemeDetailsModal/components/ThemeCard.tsx
  frontend/src/components/ThemeDetailsModal/components/ThemeInfoItem.tsx
  frontend/src/config/carouselConfig.ts
  frontend/src/pages/Root/components/RandomThemeListContainer.tsx
  frontend/src/pages/Root/components/RootLayout.tsx
  frontend/src/pages/Root/components/RootSkeletonComponent.tsx
  frontend/tailwind.config.ts
Labels: ♻️Refactor♻️, 🖥️Frontend🖥️

#454 Refactor/FE/#130: 회원가입 모달 css 리팩토링 및 모바일 버전 추가
  frontend/src/apis/fetchCheckNickName.ts
  frontend/src/components/JoinModal/JoinModalComponent/JoinModalComponent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepOneContent/StepOneContent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepTwoContent/StepTwoContent.tsx
  frontend/src/components/JoinModal/JoinModalComponent/StepTwoContent/ThemeButton/ThemeButton.tsx
  frontend/src/constants/queryManagement.ts
  frontend/src/hooks/query/useCheckNickNameQuery.tsx
Labels: ♻️Refactor♻️, 🖥️Frontend🖥️

#456 Refactor/FE/#455: 검색페이지 모바일 버전 css 코드 추가
  frontend/src/pages/Search/Search.tsx
  frontend/src/pages/Search/components/Card.tsx
  frontend/src/pages/Search/components/Card/CardInfoLabel/CardInfoLabel.tsx
  frontend/src/pages/Search/components/Card/HeadCard/HeadCard.tsx
Labels: ♻️Refactor♻️, 🖥️Frontend🖥️

#458 Feature/FE/#449: bottom navigation bar 추가
  frontend/src/components/FooterNavigationBar/FooterNavigationBar.tsx
  frontend/src/components/Layout.tsx
  frontend/src/pages/Recruitment/components/RecruitmentLayout.tsx
Labels: ✨Feature✨, 🖥️Frontend🖥️

#459 Feature/FE/#457: 채팅방 모바일, 태블릿 버전 패널 오픈 메뉴 만들기
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav/HeaderNav.tsx
  frontend/src/components/Header/HeaderRest/HeaderRest.tsx
  frontend/src/constants/StyleMap/ButtonsStyleMap.ts
  frontend/src/hooks/useTouchSlidePanel.tsx
  frontend/src/pages/ChatRoom/components/ChatPanel/ChatPanel.tsx
  frontend/src/pages/ChatRoom/components/ChatRoomContainer.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/RoomInfoPanel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/StateLabel/StateLabel.tsx
  frontend/src/pages/ChatRoom/components/RoomInfoPanel/TimeTable/TimeTable.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserItem/UserItem.tsx
  frontend/src/pages/ChatRoom/components/UserListPanel/UserListPanel.tsx
  frontend/src/store/chatRoom.tsx
  frontend/src/styles/Calendar.css
Labels: ✨Feature✨, 🖥️Frontend🖥️

#462 Feature/FE/#461: 카드 UI 변경
  frontend/src/components/Card/GroupInfoCard/GroupInfoCard.tsx
  frontend/src/components/Card/GroupInfoCard/HeadCard/HeadCardContent.tsx
  frontend/tailwind.config.ts
Labels: ✨Feature✨, 🖥️Frontend🖥️
